@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Hairline&family=Lato&family=Lora&family=Maven+Pro&family=Montserrat:wght@200;300&family=Sometype+Mono&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


#messages {
margin: auto auto;
z-index: 1;
position: relative;
top: 0px;
text-align: center;
list-style-type: none;

}
#login-messages {
  list-style-type: none;
}

.login-flash-messages, .register-flash-errors, .login-flash-errors {
  list-style: none; /* Removes the bullet point marker */
  padding: 0; /* Remove any default padding or margin */
  text-align: center;
  font-size: larger;
  font-family: 'Bebas Neue', sans-serif


}

.login-flash-messages li, .register-flash-errors li, .login-flash-errors li {
  margin-bottom: 10px; /* Add spacing between list items */
  padding: 10px;
  /* You can style the list items further if needed */
  

}
.register-flash-errors {
  list-style-type: decimal;
  width: 30vw;
  margin: auto auto;

}

.login-flash-errors{
  width: 30vw;
  margin: auto auto;
  list-style-type: none;
  text-align: left;
}
.flash-message-container:nth-child(odd){
  list-style-type: none;
}

.flash-message-container{
  width: 30vw;
  font-family: 'Bebas Neue', sans-serif;
  text-align:center;
  margin: auto auto;
  list-style-type: none;
  font-size: larger;
}

.notices{
  text-align: center;
  list-style: none;

}
.notices li {
 list-style: none;
}

.error-message{
  font-family: 'Sometype Mono', monospace;
}


h1, h2, h3, h4 {
  font-family: 'Bebas Neue', sans-serif;

}
nav, p, label {
  font-family: 'Sometype Mono', monospace;}



body {
  background-color: #333333;
}

#wrapper {background-color: white;
width: 80vw;
margin: auto auto;
border: 3px solid black;
border-radius: 20px;
padding: 20px;
height: auto;}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bebas Neue', sans-serif;
}
.siteName {font-size: 48px;

}
.siteName a {
  text-decoration: none;
  color: black;
}

#tools {
  font-size: 24px;
}
#tools a {
  text-decoration: none;
  color: black;
}
#tools:hover {color: #007BFF;}
#tools a:hover {color: #007BFF;}
#tools a:active {color: #333333;}

nav {background-color: black;
height: 80px;
margin: auto auto;
margin-top: 10px;
width: 100%;}
#managerNav{
  height: 100px;
  font-size: xx-large;
}
#managerNav li{
  margin-top: 30px;
}


nav ul {display: flex;
flex-direction:row;
width: auto;
justify-content: space-evenly;
color: white;
list-style-type: none;
height: 100%;
margin-left: -10px;}
nav ul li {
  margin: auto auto;
  font-size: 20px;
}
nav ul li a {
  color: #007BFF;
  text-decoration: none;
}

nav ul li a:hover{
  color: white;

}
nav ul li a:active {
  color: gray;
}




.topDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
}
.topDiv img {
  grid-column: 1/3;
  grid-row: 1/3;
  z-index: 0;
  width: 70%;
  display: block;
  margin: auto auto;
}
.topDiv h1 {
  color: black;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  font-size: 36px;
  z-index: 1;
}
.floatingSection {z-index: 1;
grid-row: 2/3;
grid-column: 1/2;
margin: auto auto;
margin-top: 40px;
/* background: lightgray; */
background: rgba(255, 255, 255, 0.6);
padding: 20px;
color: #5ADAD4;}
.floatingSection h1{color: #007BFF;
text-decoration: underline;}

.floatingSection h2{color: black;}

.floatingSection button {
  width: 80%;
  height: 50px;
  margin-left: 20px;
  background-color: #007BFF;
  color: white;
  font-size: 100%;
}






#bottomDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 440px;
  margin-bottom: 50px;
  
}
#bottomDiv h2 {color: black;
font-size: 30px;}

.upgrades{
  width: 48%;

}
.upgradesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.upgradesGrid div{
  background-color: #007BFF;
  margin: 10px 10px;
  text-align: center;
  padding-top: 20px;
  color: white;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.4); /* Apply the box shadow */
  transition: box-shadow 0.3s ease;
}

.upgradesGrid div:hover{
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.8); /* Apply the box shadow */

}
.upgradesGrid div a {
  color: white;
}
.upgradesGrid div a:hover{
  color: black;
}
.upgradesGrid div a:active{
  color: darkgray;
}


.reviews{
  width: 48%;
  height: 100%;
}
.reviews ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.reviews ul li {
  font-size: 1.4em;
  margin-bottom: 60px;
}

footer {
  margin-top: 100px;
}

#inv-display {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#inv-display li {
  margin-bottom: .5em;
  border: 3px black solid;
  list-style-type: none;
  text-align: center;
  margin: 20px;
  flex: 0 0 calc(33.33% - 20px);
  aspect-ratio: 1/1.2;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.4); /* Apply the box shadow */
  transition: box-shadow 0.3s ease;
}
#inv-display li:hover { 
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.8)
}

#inv-display li a {
  color: black;
  font-size: 30px;
}
#inv-display li a:hover {
  color:#007BFF
}
#inv-display li a:active {
  color: gray;
}

#inv-display li img {
  height: 200px;
  width: 200px;
  padding: 20px;
}

#inv-display li a {
  width: 100%;
  height: 100%;
}

#inv-display li div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#inv-title {
  text-align: center;
  font-size: xx-large;
  margin-top: 30px;
}


#errCode{text-align: center;
margin-top: 50px;}

#errMessage{text-align: center;}


/* 3.0 Vehicle Display */
#vehicle-display{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#vehicle-display-title{
  text-align: center;
  margin-top: 50px;
}

#vehicle-info{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form {
  background-color: #fff;
  max-width: 50%;
  min-width: 200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
form p {color: white;
text-align: center;}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

textarea{
  height: 100px;
}

input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

#register-checkbox{
  margin-top: 20px;
}

#loginForm, #registerForm, #inventoryForm, #classificationForm{
  background-color: black;
  color: white;
}
#inventoryForm{
  max-width: 80%;
  margin-top: 50px;
}
#login-title, #register-title, #newClassification-title, #newInventory-title, #managementView-title {
  text-align: center;
  margin-top: 50px;
}
input:required:invalid, input:focus:invalid {
  /* insert your own styles for invalid form input */
  color: red;
  /* background-image: url(/images/invalid.png);
  background-position: right top;
  background-repeat: no-repeat; */
 }
 input:required:valid {
  /* insert your own styles for valid form input */
  color:green;
  /* background-image: url(/images/valid.png);
  background-position: right top;
  background-repeat: no-repeat; */
 }

 #managerDisplay{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto auto;
 }
 #managerDisplay a{
  text-decoration: none;
 }

 .managerTools{
  width: 30vw;
  height: 100px;
  background-color: #007BFF;
  color: black;
  margin: 20px;
  border: .5px solid black ;
  border-radius: 20px;
 }
 .managerTools:hover{
  background-color: lightblue;
 }
 .managerTools h1{
  margin-top: 30px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: none;
 }








@media screen and (max-width: 960px) {

  .reviews ul li {
    font-size: 1em;
    margin-bottom: 60px;
  }


#vehicle-display{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#vehicle-display-title{
  text-align: center;
  margin-top: 50px;
}

#vehicle-info{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#managerNav{
  font-size: large;
  display: flex;
  justify-content: space-between;

}
#managerNav li {
  text-align: center;
  margin: auto auto;

}

nav ul li a:hover{
  color: white;

}
nav ul li a:active {
  color: gray;
}

}












@media screen and (max-width: 640px) {
  #managerNav{
    font-size: medium;
  }
  .topDiv{
    margin-bottom: -20px;
  }
  #bottomDiv{
    flex-direction: column;
    height: auto;
  }
  .reviews {width: 100%;}
  .upgrades {width: 100%;}

  footer {
    margin-top: 10px;
  }
  nav {height: 80px;
    width: 100%;
 }
 nav ul {
  justify-content: space-evenly;
  justify-self: center;
  margin-left: -30px;
 }



  .topDiv img {
    width: 90%;
  }

  header {
    justify-content: space-between;
  }

  .siteName {font-size: 40px;
  }
  .siteName a {
    text-decoration: none;
  }
  
  #tools {
    font-size: 18px;
  }
  #tools:hover {color: #0056b3;}
  .topDiv h1 {font-size: 36px;
  grid-column: 1/3;}

  #tools a:hover {color: #007BFF;}
  #tools a:active {color: #333333;}

  #wrapper {width: 100%;
  border: none;
  border-radius: 0px;}
  body{
    background-color: white;
  }
  #managerNav li {
    margin-top: 30px;
  }
  
  nav ul li {
    font-size: 12px;
    margin-top: 30px;
  }

  nav ul li a:hover{
    color: white;

  }
  nav ul li a:active {
    color: gray;

  }

  #managerDisplay{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    margin: auto auto;
   }
   #managerDisplay a{
    text-decoration: none;
   }
  
   .managerTools{
    width: 60vw;
    height: 100px;
    background-color: #007BFF;
    color: black;
    margin: 20px;
    border: .5px solid black ;
    border-radius: 20px;
    margin: auto auto;
    margin-bottom: 50px;
   }

  
}
