<% if (title) { %>
    <h1 id="managementView-title"><%= title %></h1>
<% } %>



<div class="flash-message-container">
    <%- messages() %>
</div>

<div id="managerDisplay">
    <a href="/inv/new-classification">
        <div class="managerTools">
            <h1>New Classification</h1>
        </div>
    </a>
    <a href="/inv/new-inventory">
        <div class="managerTools">
            <h1>New Inventory</h1>
        </div>
    </a>
</div>

<div >
    <h2 class="title">Manage Inventory</h2>
    <p>Select a classification from the list to see the related items:</p>
    <%- classificationSelect %>
    <table id="inventoryDisplay"></table>
</div>

<noscript>JavaScript must be enabled to use this page.</noscript>


<script src="../../js/inventory.js"></script>


